<div class="account_wrapper">
    <div class="account_nav">
        <ul class="account_nav-items">
            <li class="account_nav-item"><a href="/">{{ 'account.nav-menu.main' | transloco }}</a></li>
            <li class="account_nav-item"><a routerLink="/account">{{ 'account.nav-menu.myinfo' | transloco }}</a></li>
            <li *ngIf="isAdmin()" class="account_nav-item"><a routerLink="admin">Управління</a></li>
            <li *ngIf="isAdmin()" class="account_nav-item"><a routerLink="userlist">Список користувачів</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
