.account{

}

.account_wrapper{
    background: linear-gradient(-45deg, #37086d, #5e60d4e0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.account_nav{
    border-radius: 10px;
    width: 400px;
    margin: 70px;
    margin-right: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.575);
}

.account_nav-items{
    align-items: center;
    padding: 40px;
    margin: 0;
    list-style-type: none;
}

.account_nav-item{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 7px;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(134, 183, 223, 0.596);
}

a{
    color: #1562d6;

    text-align: center;
}

a:link{
    text-decoration: none;
}

a:hover{
    color: blue;
    font-weight: 800;
    transition: 0.1s all;
}



@media (max-width: 1230px) {
    .account_nav{
        width: 250px;
    }
}

@media (max-width: 1135px) {
    .account_nav{
        width: 250px;
    }
    .account_wrapper{
        justify-content: center;
    }
}

@media (max-width: 946px) {
    .account_nav-items{
        padding: 10px;
    }
    
    .account_nav-item{
        font-size: 20px;
    }
    .account_nav{
        margin-left: 0px;
        width: 150px;
    }
}

@media (max-width: 755px) {
    .account_nav{
        margin-top: 20px;
    }
    .account_wrapper{
        padding: 20px;
    }
}

@media (max-width: 590px) {
    .account_nav{

        width: 100%;
        margin: 0;
        padding: 0;

    }
    .account_nav-items{
        padding: 10px;
        align-items: center;
        text-align: center;
        
    }
    a{
        font-size: 24px;
    }
    .account_nav-item{

        margin: 5px;
        
    }
    .account_wrapper{
       flex-direction: column;
    }
}

