<div class="conf">
    <h2 class="conf-title">VI МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
    <h5 class="conf-title">«ТЕОРЕТИЧНІ ТА ЕКСПЕРИМЕНТАЛЬНІ ДОСЛІДЖЕННЯ У ТЕХНОЛОГІЯХ СУЧАСНОГО МАТЕРІАЛОЗНАВСТВА І МАШИНОБУДУВАННЯ»</h5>
    <p class="conf-title">Присв'ячена до 10-річчя заснування</p>
    <h2 class="conf-title">30 травня - 3 червня <br> 2017 року ЛУЦЬК,<br>УКРАЇНА</h2>
</div>

<div>
    <ul class="conf_list">
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09249.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09250.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09264.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09277.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09297.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09306.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09389.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09395.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09420.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09425.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09437.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09446.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09498.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09516.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09579.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09586.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09612.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09623.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09641.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09653.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09701.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09711.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09714.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09719.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09733.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09739.JPG" alt="">
        </li>
         <li class="conf_list-item">
            <img src="../../../../../../assets/2017/DSC09763.JPG" alt="">
        </li>
    </ul>
</div>