<h2>VІ МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>30 травня - 3 червня 2016 року</h2>

<h5>«РЕОЛОГІЧНІ МОДЕЛІ І ПРОЦЕСИ ДЕФОРМУВАННЯ СТРУКТУРНО-НЕОДНОРІДНИХ МАТЕРІАЛІВ»</h5>
<p>У березні 2016 року виповнилося 35 років науковому семінару
    «Реологічні моделі і процеси деформування пористих і композиційних матеріалів». Значна кількість учасників семінару
    засвідчили себе фахівцями високого рівня: захищено понад 20 дисертацій на здобуття наукового ступеня доктора наук та
    більше 50 робіт на здобуття наукового ступеня кандидата наук. Результати досліджень стали надбанням не тільки
    матеріалознавства але знайшли застосування у фізиці, хімії, механіці і реології.
    У роботі даної конференції приймають участь не тільки
    «ветерани» семінару але і їх учні, молоді вчені з України, ближнього і далекого зарубіжжя.
</p>