#maindiv{
    /* background-image: url('../../../assets/test5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: #3B3C93;
    border-bottom: 2px solid black;
    color:white;
}
#div1{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;   
}
#div1-3{
    order: 3;
}

#div1-1{
    width: 50%; display: inline-flex;justify-content: start;
}
#div1-2{
    width: 50%; display: inline-flex;justify-content: end;
}
#div2-1{
    display: flex;
    justify-content: end;
}
#div2-1 ul{
    list-style-type: none;
    padding-right: 40px;
}

@media (max-width : 600px) {
    #div1{
        display: flex;
        /* flex-wrap: wrap; */
        padding : 0px;
        padding-top : 20px;
        height: min-content;
        align-items: center;
    }
    #div1-1{        
    }
    #div1-1 img {
        width: 100%;
        height: 100%;
    }
    #div1-2{        
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding: 5%;
        align-items: flex-end;        
    }  
    #div2-1{
        display: flex;
        justify-content: left;
    }
    #div2-1 ul{
        list-style-type: none;
        padding-left: 20px;
        padding-right: 0;
    }
}
@media(min-width:1024px){
    #div1{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    #div1-1{
        width: 20%;
    }   
    #div1-1 img {
        object-fit: contain;
    }
    #div1-2{
        width: 20%;
        order: 3;
    }   
    #div1-3{
        order: 2;      
        max-width: 50%;  
    }
}