<header class="header">
    <div class="header_section">
        <div class="header_section-1">
            <img src="../../assets/logo4.png">
        </div>
        <div class="header_section-2">
            <a> {{ 'index.socnet.lang' | transloco }} &nbsp; </a>
            <select class="form-select" (change)="changelang($event.target)">
                <option *ngFor="let lang of languages">{{ lang }}</option>
            </select>
        </div>
        <div class="header_section-3">
            <p class="header_section-3-p">
                <span>{{ 'index.socnet.logotext1' | transloco }}</span>
                <span>{{ 'index.socnet.logotext2' | transloco }}</span>
                <br>
                (TERMM-2023)
            </p>
        </div>
    </div>
</header>
<app-nav-menu *ngIf="isExpand"></app-nav-menu>