<div class="main container">
    <h3 class="organizational">
        {{ 'index.orgcommittee.header' | transloco }}
    </h3>
    <ul class="list">
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/viktorrud.png">
                </p>
                <figcaption>
                    <span>
                        {{ 'index.orgcommittee.1' | transloco }}
                    </span>
                    <br>
                    <span class="email">
                        📧 (vikdmrud@gmail.com);
                    </span>
                    
                </figcaption>
            </figure>
        </li>
        <br>
    </ul>
    <hr>
    <h4 >
        {{ 'index.orgcommittee.header2' | transloco }}
    </h4>
    <ul class="list">
        <br>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/olenalutak.png">
                </p>
                <figcaption>
                    <span>
                        {{ 'index.orgcommittee.2' | transloco }}
                    </span>
                    <br>
                    <span class="email">
                        📧 (o.liutak@lntu.edu.ua);
                    </span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/mukolamelnychuk.png">
                </p>
                <figcaption>
                    <span>
                        {{ 'index.orgcommittee.3' | transloco }}
                    </span>
                    <br>
                    <span class="email">
                        📧 (melnuchyk80@gmail.com)
                    </span>
                </figcaption>
            </figure>
        </li>
    </ul>
    <hr>
    <h4>
        {{ 'index.orgcommittee.header3' | transloco }}
    </h4>
    <br>
    <ul class="list">
        <li>
            <figure>
                
                <p>
                    <img src="../../../assets/comitet/valentynatkachuk.png">
                </p>
                <figcaption>
                    {{ 'index.orgcommittee.4' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/igormurovanyi.png">
                </p>
                <figcaption>
                    {{ 'index.orgcommittee.5' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/yuliapovstyana4.jpg">
                </p>
                <figcaption>
                    {{ 'index.orgcommittee.6' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/sergiyshymchuk.png">
                </p>
                <figcaption>
                    {{ 'index.orgcommittee.7' | transloco }}
                
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>

                <p>
                    <img src="../../../assets/comitet/oleksandrklymenko.png">
                </p>
                <figcaption>
                    {{ 'index.orgcommittee.8' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/comitet/Samchuk.jpg">
                </p>
                <figcaption>
                    {{ 'index.orgcommittee.9.1' | transloco }}
                    <br>
                    {{ 'index.orgcommittee.9.2' | transloco }} 
                    <br>
                    т.: +38 050 769 9444; 
                    <br>
                    <span class="email">📧 (samchuk204@gmail.com)</span>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Гусачук.jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.10' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Зайчук Н.П..jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.11' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Кашицький.jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.12' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Мельник Ю.А.jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.13' | transloco }}
                </figcaption>
            </figure>
            
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Садова О.Л..jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.14' | transloco }}
                </figcaption>
            </figure>
            
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Фещук Ю.П..jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.15' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Фурс.jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.16' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Moroz_iryna.jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.17' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p><img src="../../../assets/comitet/Shemet_Vasylyna.jpg" alt=""></p>
                <figcaption>
                    {{ 'index.orgcommittee.18' | transloco }}
                </figcaption>
            </figure>
        </li>
    </ul>
</div>