<ul class="list">
    <li class="list-item">
        {{ 'index.thematicdirections.1' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.2' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.3' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.4' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.5' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.6' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.7' | transloco }}
    </li>
    <li class="list-item">
        {{ 'index.thematicdirections.8' | transloco }}
    </li>
</ul>