<div class="table_container">
    <h3>Список усіх зареєстрованих</h3>
    <br>
    <div class="table_wrapper">
        <table class="styled-table" style="font-size: 16px;">
            <thead>
                <tr>
                    <th>ПІБ</th>
                    <th>Посада</th>
                    <th>Місце роботи</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Формат участі</th>
                    <th>Чек</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | async">
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.jobTitle }}</td>
                    <td>{{ user.workPlace }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.participationFormat }}</td>
                    <td>{{ user.payInfo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>