<h2>IV МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>3-7 червня 2013 року</h2>

<div>
    <ul>
        <li><img src="../../../../assets/2013/DSC02758.JPG" alt=""> </li>
        <li><img src="../../../../assets/2013/DSC02764.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02861.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02863.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02901.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02925.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02936.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02938.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02948.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02957.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02961.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC03014.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC03024.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC03146.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/IMG_4203.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/IMG_4222.JPG" alt=""></li>
    </ul>
</div>