<h2>III МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>6-10 червня 2011 року</h2>
<div>
    <ul>
        <li><img src="../../../../assets/2011/1-_DSC2665.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2666.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2678.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2683.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2689.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2698.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2703.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2732.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2740.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2742.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2748.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2772.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2794.JPG" alt=""></li>
    </ul>
</div>