<div class="form_wrapper">
    <div class="form_container">
        <form class="form">
            <h2>Зміна паролю</h2>
            <label for="emailinput">Старий пароль</label>
            <input type="password" id="oldpassinput" placeholder="Введіть свій старий пароль">
            <br>
            <label for="passinput">Новий пароль</label>
            <input type="password" id="newpassinput" placeholder="Введіть свій новий пароль">
            <br>
            <button type="submit" class="btn btn-primary">Змінити</button>
            <br>
            <div>
                <a routerLink="/auth/recovery-password">Повернутися</a>
            </div>
        </form>
    </div>
</div>