<div class="form_wrapper">
    <div class="form_container">
        <form [formGroup]="resetform" (ngSubmit)="reset(resetform.value)" #formDirective="ngForm" class="form">
            <h2>{{ 'auth.rec-res.headresetpass' | transloco }}</h2>
            <h4 id="resultlabel" >{{ resultmessage }}</h4>
            <label for="emailinput">{{ 'auth.rec-res.newpass' | transloco }}</label>
            <input formControlName="password" type="text" id="oldpassinput" placeholder="{{ 'auth.rec-res.enternewpass' | transloco }}">
            <br>
            <label for="passinput">{{ 'auth.rec-res.confpass' | transloco }}</label>
            <input formControlName="passwordconfirm" type="text" id="newpassinput" placeholder="{{ 'auth.rec-res.enterconfpass' | transloco }}">
            <br>
            <button type="submit" class="btn btn-primary">{{ 'auth.rec-res.btnreset' | transloco }}</button>
            <br>
            <div>
                <a routerLink="/auth/recovery-password">{{ 'auth.rec-res.goback' | transloco }}</a>
            </div>
        </form>
    </div>
</div>