<div class="container">
    <p>{{ 'index.importantdates.date' | transloco }}</p>
    <ul>
        <p>{{ 'index.importantdates.1' | transloco }}</p>
        <li>{{ 'index.importantdates.1.1' | transloco }}</li>
        <li>{{ 'index.importantdates.1.2' | transloco }}</li>
        <li>{{ 'index.importantdates.1.3' | transloco }}</li>
        <li>{{ 'index.importantdates.1.4' | transloco }}</li>
        <li>{{ 'index.importantdates.1.5' | transloco }}</li>
        <li>{{ 'index.importantdates.1.6' | transloco }}</li>
        <br>
        <p>{{ 'index.importantdates.2' | transloco }}</p>
        <li>
            <p>
                {{ 'index.importantdates.2.info' | transloco}}
            </p>
        </li>
        <li>{{ 'index.importantdates.2.1' | transloco }}</li>
        <li>{{ 'index.importantdates.2.2' | transloco }}</li>
        <li>{{ 'index.importantdates.2.3' | transloco }}</li>
        <li>{{ 'index.importantdates.2.4' | transloco }}</li>
        <li>{{ 'index.importantdates.2.5' | transloco }}</li>
        <li>{{ 'index.importantdates.2.6' | transloco }}</li>
        <li>{{ 'index.importantdates.2.7' | transloco }}</li>
        <li>{{ 'index.importantdates.2.8' | transloco }}</li>
    </ul>
</div>