<div class="container">
    <p class="important-text">{{ 'index.importantdates.regulationshead' | transloco }}</p>
    <p [innerHTML]="'index.importantdates.regulations' | transloco" ></p>
    <ul class="dates-list">
        <li class="dates-list-item">{{ 'index.importantdates.regulations.1' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.regulations.2' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.regulations.3' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.regulations.4' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.regulations.5' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.regulations.6' | transloco }}</li>
    </ul>
    <p class="important-text">{{ 'index.importantdates.date' | transloco }}</p>
    <ul class="dates-list">
        <p class="member">
            {{ 'index.importantdates.1' | transloco }}
        </p>
        <li class="dates-list-item">{{ 'index.importantdates.1.1' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.1.2' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.1.3' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.1.4' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.1.5' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.1.6' | transloco }}</li>
        <br>
        <p class="member">{{ 'index.importantdates.2' | transloco }}</p>
        <li class="dates-list-item">
            <p>
                {{ 'index.importantdates.2.info' | transloco}}
            </p>
        </li>
        <li class="dates-list-item">{{ 'index.importantdates.2.1' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.2' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.3' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.4' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.5' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.6' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.7' | transloco }}</li>
        <li class="dates-list-item">{{ 'index.importantdates.2.8' | transloco }}</li>
    </ul>
</div>