<h4 style="text-align: center;">
    {{ 'index.info-partners.head' | transloco }}
</h4>
<ul>
    <li>
        <img src="../../../assets/infopartners/6.png">
        <p [innerHTML]="'index.info-partners.6' | transloco"></p>
    </li>
    <li>
        <img src="../../../assets/infopartners/naykovi_notatky.png" alt="">
        <p [innerHTML]="'index.info-partners.1' | transloco"></p>
    </li>
    <li>
        <img src="../../../assets/infopartners/newtechnology.png" alt="">
        <p [innerHTML]="'index.info-partners.2' | transloco"></p>
    </li>
    <li>
        <img src="../../../assets/infopartners/3.gif" alt="">
        <p [innerHTML]="'index.info-partners.3' | transloco"></p>
    </li>
    <li>
        <img src="../../../assets/infopartners/4.jpg" alt="">
        <p [innerHTML]="'index.info-partners.4' | transloco"></p>
    </li>
    <li>
        <img src="../../../assets/infopartners/5.png" alt="">
        <p [innerHTML]="'index.info-partners.5' | transloco">
        </p>
    </li>
</ul>