<h4 style="text-align: center;">{{ 'index.progcomite' | transloco }}</h4>

<ul>
    <li>
        Dekhtyar Y. professor Institute of Biomedical Engineering and Nanotechnologies Riga Technical University <span>(Latvia)</span>; 
    </li>
    <li>
        Dr. Korniejenko K., Associate Professor at department materials science Cracow University of Technology. <span>(Poland)</span>;
    </li>
    <li>
        Dr. Sevastyanova O. Researcher, Division of wood chemistry and pulp technology KTH Royal Institute of Technology <span>(Sweden)</span>; 
    </li>
    <li>
        Hajduk M. Dr., Ing. , PhD, professor. <span>(Slovakia)</span>;
    </li>
    <li>
        Heisel U. Dr., Ing., PhD, professor. <span>(Germany)</span>;
    </li>
    <li>
        Kökényesi S., doctor of physical and mathematical sciences, professor Debreceni Egyetem, Természettudományi és Technológiai. <span>(Угорщина)</span>;
    </li>
    <li>
        Kulagin R. PhD, Institute of Nanotechnology, Karlsruhe Institute of Technology <span>(Germany)</span>; 
    </li>
    <li>
        Luscinski S., Associate Professor at Department of Production Engineering Kielce University of Technology (Poland);
    </li>
    <li>
        Orlov D., professor Division of Mechanics, Materials and Component Design, Lund University <span>(Germany)</span>; 
    </li>
    <li>
        Petryshynets I., PhD, Institute of Materials Research of Slovak Academy of Sciences. <span>(Slovakia)</span>;
    </li>
    <li>
        Sosnowski M., professor, Dean of the Faculty of Science & Technology,   University Jana Dlugosz in Czestochowa (Poland);
    </li>
    <li>
        Uhl A., завідувач кафедри ВНУ ім. Лесі Українки, д.т.н., професор <span>(м. Луцьк)</span>;
    </li>
    <li>
        Vachev A., Dr. Ing., PhD, professor. <span>(Bulgaria)</span>;
    </li>
    <li>
        Yüksel M., Dr., Ing. , PhD, professor <span>(Turkey)</span>;
    </li>
    <li>
        Баглюк Г. директор ІПМ ім. І.М. Францевича НАНУ, д.т.н., професор, член-кореспондент НАНУ <span>(м. Київ)</span>;

        </li>
    <li>
        Бейгельзімер Я. Ю., головний науковий співробітник ДонФТІ НАН <span>(м. Київ)</span>;
    </li>
    <li>
        Бобир М., професор НТУУ «Київський політехнічний інститут ім. Ігоря Сікорського»,д.т.н., професор <span>(м. Київ)</span>;
    </li>
    <li>
        Грабар І., завідувач кафедри "Агроінженерії та технічного сервісу" Поліського національного університету, д.т.н., професор <span>(м. Житомир)</span>;
    </li>
    <li>
        Дурягіна З., завідувач кафедри прикладного матеріалознавства, НУ «Львівська політехніка», д.т.н., професор <span>(м. Львів)</span>;
    </li>
    <li>
        Єфременко В., професор Приазовського державного технічного університету, д.т.н., професор <span>(м. Маріуполь)</span>;
    </li>
    <li>
        Жигуц Ю., завідувач кафедри технології машинобудування Ужгородського національного університету, д.т.н., професор <span>(Ужгород)</span>;
    </li>
    <li>
        Заболотний О., керівник СКТБ «Іноваційний парк» ЛНТУ, к.т.н., доцент <span>(м. Луцьк)</span>;
    </li>
    <li>
        Зинюк О., директор ЗНЦ НАН України та МОН України, к.т.н., доцент <span>(м. Львів)</span>;
    </li>
    <li>
        Іванов В., завідувач кафедри технології машинобудування, верстатів та інструментів, Сумський державний університет, д.т.н., професор. <span>(м. Суми)</span>;
    </li>
    <li>
        Ісмаїлов Н., д.т.н., професор, Азербайджанський технічний університет <span>(Азербайджан)</span>;
    </li>
    <li>
        Калюжний Л., професор кафедри технології виробництва літальних апаратів НТУУ «Київський політехнічний інститут ім. Ігоря Сікорського»,д.т.н., професор <span>(м. Київ)</span>;
    </li>
    <li>
        Клименко С., заступник директора з наукової роботи Інституту надтвердих матеріалів ім, В.М. Бакуля НАН Украіни, д.т.н., професор, член-кориспондент. НАН Украіни;</li>
    <li>
        Ковальченко М., с.н.с. ІПМ ім. І.М. Францевича НАНУ, д.т.н., професор <span>(м. Київ)</span>;
    </li>
    <li>
        Косенюк Г., доцент кафедри інформаційних технологій Черкаського національного університету імені Богдана Хмельницького, к.т.н., доцент <span>(м. Черкаси)</span>;
    </li>
    <li>
        Кузнєцов Ю. професор НТУУ «Київський політехнічний інститут ім. Ігоря Сікорського»,д.т.н., професор <span>(м. Київ)</span>.
    </li>
    <li>
        Лаухін Д., професор Національного університету «Дніпровська політехніка», д.т.н, професор <span>(м. Дніпропетровськ)</span>;
    </li>
    <li>
        Лобода П., Навчально-науковий інститут матеріалознавства та зварювання ім. Є.О. Патона НГУУ «КПІ ім. Ігоря Сікорського», д.т.н., професор, академік НАН України. <span>(м. Київ)</span>;
    </li>
    <li>
        Майстренко А., зав. відділу ІНМ ім, В.М. Бакуля НАН Украіни, д.т.н., професор, член-кориспондент. НАН Украіни <span>(м. Київ)</span>; 
    </li>
    <li>
        Мельничук М., завідувач кафедри матеріалознавства Луцького національного технічного університету, к.т.н., доцент.<span>(м. Луцьк)</span>;
    </li>
    <li>
        Мікуліч О., завідувач кафедри прикладної математики та механіки Луцького національного технічного університету, д.т.н., професор. <span>(м.Луцьк)</span>;</li>
    <li>
        Назарчук З., голова ЗНЦ НАН України та МОН України, д.ф.-м.н., професор, академік НАН України <span>(м. Львів)</span>;
    </li>
    <li>
        Пальчевський Б., професор кафедри автоматизації та комп'ютерно-інтегрованих технологій Луцького національного технічного університету, д.т.н., професор. <span>(м. Луцьк)</span>;
    </li>
    <li>
        Петраков Ю. професор кафедри технології машинобудування НТУУ «Київський політехнічний інститут ім. Ігоря Сікорського»,д.т.н., професор <span>(м. Київ)</span>; 
    </li>
    <li>
        Пилипець М., професор кафедри інжинірингу машинобудівних технологій Тернопільського національного технічного університету імені Івана Пулюя, д.т.н., професор. <span>(м. Тернопіль)</span>;
    </li>
    <li>
        Прихна Т., зав. відділу Інституту надтвердих матеріалів ім. В.М. Бакуля НАН Украіни, д.т.н., професор, академік НАН Украіни <span>(м. Київ)</span>;
    </li>
    <li>
        Рагуля А., Президент Українського матеріалознавчого товариства, д.т.н., професор. академік НАН Украіни. <span>(м. Київ)</span>;
    </li>
    <li>
        Радзевич С., д.т.н., професор, EATON Corp. <span>(США)</span>;
    </li>
    <li>
        Рудь В., професор кафедри матеріалознавства Луцького національного технічного університету, д.т.н., професор. <span>(м. Луцьк</span>);
    </li>
    <li>
        Савуляк В., професор кафедри галузевого машинобудування Вінницького національного технічного університету, д.т.н., професор.<span>(м. Вінниця)</span>;
    </li>
    <li>
        Сапон С., доцент НУ «Чернігівська політехніка», к.т.н., доцент.<span>(м. Чернігів)</span>;
    </li>
    <li>
        Сизоненко О., головний наук. співр. ІІПТ НАНУ, д.т.н., професор<span>(м. Миколаїв)</span>;
    </li>
    <li>
        Скачков В., професор кафедри Металургійних технологій, экології та техногенної безпеки Запоріжского НУ, д.т.н., професор <span>(м. Запоріжжя)</span>;
    </li>
    <li>
        Суботіна В., завідувач кафедри матеріалознавства НУ «Харківська політехніка», д.т.н.. професор. <span>(м. Харків)</span>;
    </li>
    <li>
        Тітов В., професор кафедри технології виробництва літальних апаратів НТУУ «Київський політехнічний інститут ім. Ігоря Сікорського»,д.т.н., професор <span>(м. Київ)</span>; 
    </li>
    <li>
        Уманський О., старш. науковий співробітник ІПМ ім. І.М. Францевича НАНУ, д.т.н., професор;
    </li>
    <li>
        Федориненко Д., д.т.н., професор Tohoku University <span>(Японія)</span>;
    </li>
    <li>
        Шаповалов В., керівник лабораторії компанії MER Corporation, д.т.н., професор <span>(Аризона, США)</span>;
    </li>
    <li>
        Шваб’юк В., професор кафедри прикладної математики та механіки Луцького національного технічного університету, д.т.н., професор. <span>(м. Луцьк)</span>;
    </li>
    <li>
        Штерн М., зав. відділу ІПМ ім. І.М. Францевича НАНУ, д.т.н., професор,  член-кореспондент НАНУ. <span>(м. Київ)</span>;
    </li>
    <li>
        Щот Яцек, проф. Вищої школи управління та менеджменту <span>(м. Конін, Польща)</span>;
    </li>
    <li>Dr. Karolina Grabowska, Jan Dlugosz University in Częstochowa <span>(Poland).</span></li>
</ul>
