<h2>I МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>28-31 травня 2007 року</h2>
<h5>"ТЕОРЕТИЧНІ І ЕКСПЕРИМЕНТАЛЬНІ ДОСЛІДЖЕННЯ В ТЕХНОЛОГІЯХ СУЧАСНОГО МАТЕРІАЛОЗНАВСТВА ТА МАШИНОБУДУВАННЯ"</h5>
<div>
    <ul>
        <li><img src="../../../../assets/2007/DSCN1349.JPG" alt="">
        </li>
    </ul>
</div>

<hr>

<h2>II МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>1-6 червня 2009 року</h2>

<div>
    <ul>
        <li><img src="../../../../assets/2009/1-DSC_8022.JPG" alt=""></li>
        <li><img src="../../../../assets/2009/1-DSC_8040.JPG" alt=""></li>
        <li><img src="../../../../assets/2009/1-DSC_8086.JPG" alt=""></li>
        <li><img src="../../../../assets/2009/1-DSC_8108.JPG" alt=""></li>
        <li><img src="../../../../assets/2009/1-DSC_8115.JPG" alt=""></li>
    </ul>
</div>
<hr>
<h2>III МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>6-10 червня 2011 року</h2>
<div>
    <ul>
        <li><img src="../../../../assets/2011/1-_DSC2665.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2666.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2678.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2683.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2689.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2698.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2703.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2732.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2740.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2742.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2748.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2772.JPG" alt=""></li>
        <li><img src="../../../../assets/2011/1-_DSC2794.JPG" alt=""></li>
    </ul>
</div>

<hr>

<h2>IV МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>3-7 червня 2013 року</h2>

<div>
    <ul>
        <li><img src="../../../../assets/2013/DSC02758.JPG" alt=""> </li>
        <li><img src="../../../../assets/2013/DSC02764.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02861.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02863.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02901.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02925.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02936.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02938.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02948.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02957.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC02961.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC03014.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC03024.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/DSC03146.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/IMG_4203.JPG" alt=""></li>
        <li><img src="../../../../assets/2013/IMG_4222.JPG" alt=""></li>
    </ul>
</div>

<hr>
<h2>V МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>25-29 травня 2015 року</h2>

<div>
    <ul>
        <li><img src="../../../../assets/2015/1-_DSC2624.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2631.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2634.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2641.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2645.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2647.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2652.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2655.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2658.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2668.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2676.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2690.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2703.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/1-_DSC2719.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02736.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02751.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02802.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02818.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02824.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02835.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02839.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02849.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02858.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02930.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02942.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02950.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02932.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC02938.JPG" alt=""></li>
        <li><img src="../../../../assets/2015/DSC03185.JPG" alt=""></li>
    </ul>
</div>


<hr>

<h2>VІ МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h2>30 травня - 3 червня 2016 року</h2>

<h5>«РЕОЛОГІЧНІ МОДЕЛІ І ПРОЦЕСИ ДЕФОРМУВАННЯ СТРУКТУРНО-НЕОДНОРІДНИХ МАТЕРІАЛІВ»</h5>
<p>У березні 2016 року виповнилося 35 років науковому семінару
    «Реологічні моделі і процеси деформування пористих і композиційних матеріалів». Значна кількість учасників семінару
    засвідчили себе фахівцями високого рівня: захищено понад 20 дисертацій на здобуття наукового ступеня доктора наук та
    більше 50 робіт на здобуття наукового ступеня кандидата наук. Результати досліджень стали надбанням не тільки
    матеріалознавства але знайшли застосування у фізиці, хімії, механіці і реології.
    У роботі даної конференції приймають участь не тільки
    «ветерани» семінару але і їх учні, молоді вчені з України, ближнього і далекого зарубіжжя.
</p>

<hr>

<h2>VI МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
<h5>«ТЕОРЕТИЧНІ ТА ЕКСПЕРИМЕНТАЛЬНІ ДОСЛІДЖЕННЯ У ТЕХНОЛОГІЯХ СУЧАСНОГО МАТЕРІАЛОЗНАВСТВА І МАШИНОБУДУВАННЯ»</h5>
<p>Присв'ячена до 10-річчя заснування</p>
<h2>30 травня - 3 червня <br> 2017 року ЛУЦЬК,<br>УКРАЇНА</h2>