<div class="container">
    <strong>
        <p class='wrapper'>
            <span class="header-title">
                {{ 'index.funders.header1' | transloco }}:
            </span>

                <span class="header-name">{{ 'index.funders.name1' | transloco }},</span>

                <span class="header-name">{{ 'index.funders.name2' | transloco }},</span>

             <span class="header-name">{{ 'index.funders.name3' | transloco }}</span>
        </p>
    </strong>
    <ul class="list">
        <li class="list-item">
            <figure>
                <img src="../../../../assets/funders/skorohod.jpg">
                <figcaption class="list-item-text">
                    <span>{{ 'index.funders.name1' | transloco }}</span>
                    {{ 'index.funders.descr1' | transloco }} 
                </figcaption>
            </figure>
        </li>

        <li class="list-item">
            <figure>
                <img src="../../../../assets/funders/lebedev.jpg">
                <figcaption class="list-item-text">
                    {{ 'index.funders.descr2' | transloco }}
                </figcaption>
            </figure>
        </li>

        <li class="list-item">
            <figure>
                <img  src="../../../../assets/funders/bozhydarnyk.jpg">
                <figcaption  class="list-item-text">
                    <span>{{ 'index.funders.name3' | transloco }}</span>
                    {{ 'index.funders.descr3' | transloco }}
                </figcaption>
            </figure>
        </li>

        <hr>

        <li>
            <p style="text-align: center;font-size: 18px;">
                {{ 'index.funders.descr4' | transloco }}
                <strong>
                    {{ 'index.funders.name4' | transloco }}
                </strong>,
                
                <br>
                {{ 'index.funders.vidlntu' | transloco }}
                <strong> 
                    {{ 'index.funders.name5' | transloco }}
                </strong>.
            </p>
            <p class="footer_images">
                <img src="../../../../assets/funders/shtern.jpg">
                <img src="../../../../assets/funders/rud`.jpg">
            </p>    
        </li>
    </ul>
</div>