<div class="container">
    <strong>
        <p style="text-align: center;font-size: 22px;">
            {{ 'index.funders.header1' | transloco }}:<br>
            {{ 'index.funders.name1' | transloco }},<br>
            {{ 'index.funders.name2' | transloco }},<br>
            {{ 'index.funders.name3' | transloco }}
        </p>
    </strong>
    <ul>
        <li>
            <figure>
                <p style="text-align: center;">
                    <img src="../../../../assets/funders/skorohod.jpg">
                </p>
                <figcaption>
                        <strong>{{ 'index.funders.name1' | transloco }}</strong>
                        {{ 'index.funders.descr1' | transloco }} 
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../../../assets/funders/lebedev.jpg">
                <figcaption>
                    {{ 'index.funders.descr2' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img  src="../../../../assets/funders/bozhydarnyk.jpg">
                <figcaption>
                   <strong>{{ 'index.funders.name3' | transloco }}</strong>
                   {{ 'index.funders.descr3' | transloco }}
                </figcaption>
            </figure>
        </li>
        <hr>
        <li>
            <p style="text-align: center;font-size: 18px;">
                {{ 'index.funders.descr4' | transloco }}
                <strong>{{ 'index.funders.name4' | transloco }}</strong>,<br>
                {{ 'index.funders.vidlntu' | transloco }}
                <strong> {{ 'index.funders.name5' | transloco }}</strong>.
            </p>
            <p>
                <img src="../../../../assets/funders/shtern.jpg">
                <img src="../../../../assets/funders/rud`.jpg">
            </p>    
        </li>
    </ul>
</div>