
{{ errormessage }}
<div class="form_wrapper">
    <div class="form_container">
        <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)" #formDirective="ngForm" class="form">
            <h2>Вхід</h2>
            <label for="emailinput">E-mail</label>
            <input formControlName="email" type="text" id="emailinput" placeholder="Ведіть E-mail...">
            <br>
            <label for="passinput">Пароль</label>
            <input formControlName="password" type="text" id="passinput" placeholder="Введіть пароль...">
            <br>
            <button type="submit" class="btn btn-primary">Увійти</button>
        </form>
    </div>
</div>