.container{
  padding: 10px 0 0 0 ;
}
.test{
  
}
.main_timer-title{
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.main_info {

  padding: 0px 100px ;
  text-align: justify;
}

.place-info{

padding: 0px 40px;
}

.place-text{
font-size: 20px;
margin-bottom: 20px;

}

.place-head {
margin-top: 20px;
font-size: 30px;
font-weight: 500;
text-align: center;
margin-bottom: 20px;
}

.iframe-wrapper{
margin-top: 20px;
margin-bottom: 30px;
justify-content: space-around;
gap: 10px;
flex-wrap: wrap;
display: flex;
margin: 20px;

}
iframe{
border-radius: 10px;
border: 1px dashed rgba(128, 128, 128, 0.288);
background-color: #676d92a8;
padding: 5px;

}
.org-wrapper{
margin-top: 20px;
margin-bottom: 20px;
}
.org-text{
font-weight: 600;
font-size: 40px;
text-align:center;
margin-top: 20px;
margin-bottom: 30px;
}
.mainCoorganizators{

padding: 20px;
background-color: rgb(255, 255, 255);
gap: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.mainCoorganizators-item{
gap: 20px;

}
.coorganizators{
padding: 20px;
align-items: center;
background-color: rgb(255, 255, 255);
display: flex;
gap: 20px;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.coorganizators-item{
border-radius: 20px;
}
.mainCoorganizators-item img{
/* border: 2px dashed rgb(0, 0, 150); */
object-fit: contain;
width: auto;
height: 150px;
}
.mainCoorganizators-item img:hover{
/* height: 210px; */
border: none;
box-shadow: 5px 5px 40px -10px rgb(23, 0, 128);
transition: 1s all;

}
.coorganizators-item img{
padding: 10px;
/* border: 2px dashed rgb(0, 0, 150); */
object-fit: contain;
width: auto;
height: 130px;
}

.coorganizators-item img:hover{
/* padding: 20px; */
/* height: 140px; */
border: none;
box-shadow: 5px 5px 20px -10px rgb(23, 0, 128);
transition: 1s all;

}
p{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}
.timer{
margin-top: 10px;
align-items: center;
text-align: center;
justify-content: center;
gap: 10px;
display:flex;
justify-content:center;
}
.timer p{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
height: 80px;
font-size: 34px;
font-weight: 700;
width: 80px;
margin-bottom: 7px;
background-color: rgb(67, 61, 139);
color:white;
border-radius: 10px;
}
.timer div{
flex-basis: 80px;
}
.timer span{
  font-family: 'Roboto';
  font-weight: 500;
font-size: 18px;
}
ul{
display: flex;
flex-direction: column;
list-style-position: inside;
list-style-type: none;
}
.carousel .slide .carousel-fade{
  display: flex;
  justify-content: center;
}
.carousel-item {
display: flex;
height: auto;
flex-direction: row;
}
.carousel-item img {
height: 580px;
width: 100%;
}

@media (max-width:600px) {

iframe{
  width: 320px;
  height: 320px;
}

.timer p{
  height: 65px;
  font-size: 28px;
  width: 65px; 
}
.timer span{
  font-size: 16px;
}

img {
    width: 300px;
    height: 300px;
  }
  
  .carousel-item div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .carousel-item img{
    height: 250px;
    width: 100%;
  }
  #organizators1{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #organizators2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 770px) {

iframe{
  width: 400px;
  height: 400px;
}

}
@media (max-width: 400px) {

  .mainCoorganizators-item img{
    height: 120px;
  }

  .coorganizators-item img{

    height: 100px;
  }

  .org-text{

    font-size: 30px;

  }

}

@keyframes timerAnimation {
0% {
  width: 0%;
}
100% {
  width: 100%;
}
}