<nav class="navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <div id="navmenu" class="nav-div navbar navbar-collapse">
        <div class="nav-item">
            <a class="nav-link" href="/index">{{ 'index.nav-menu.main' | transloco }}</a>
        </div>
        <div class="nav-item">
            <a class="dropdown">
                <a class="nav-link" id="dropdownMenuButton" aria-expanded="false">
                    {{ 'index.nav-menu.orgcommittee' | transloco }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuli">
                    <li><a class="dropdown-item" [routerLink]="['management-team']">{{
                            'index.nav-menu.submenu.orgcommittee.1' | transloco }}</a></li>
                    <li><a class="dropdown-item" [routerLink]="['program-comittee']">{{
                            'index.nav-menu.submenu.orgcommittee.2' | transloco }}</a></li>
                    <li><a class="dropdown-item" [routerLink]="['organizational-committee']">{{
                            'index.nav-menu.submenu.orgcommittee.3' | transloco }}</a></li>
                </ul>
            </a>
        </div>
        <div class="nav-item">
            <a class="dropdown">
                <a class="nav-link" id="dropdownMenuli" aria-expanded="false">
                    {{ 'index.home.historyconf' | transloco }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuli">
                    <li (mouseenter)="showMenu = true" (mouseleave)="showMenu = false">
                        <a class="dropdown-item">
                            {{'index.nav-menu.historyconf.1' | transloco }}
                        </a>
                        <a [ngClass]="{'show' : showMenu }" class="dropright-menu">
                            <ul class="dropdown-menu">
                                <li>
                                    <a [routerLink]="['conference-history/history/first-conference']"
                                        class="dropdown-item">
                                        {{ 'index.nav-menu.history.firstconf' | transloco }}
                                    </a>
                                </li>
                                <li><a [routerLink]="['conference-history/history/second-conference']"
                                        class="dropdown-item">{{ 'index.nav-menu.history.secondconf' | transloco }}</a>
                                </li>
                                <li><a [routerLink]="['conference-history/history/third-conference']"
                                        class="dropdown-item">{{ 'index.nav-menu.history.thirdconf' | transloco }}</a>
                                </li>
                                <li><a [routerLink]="['conference-history/history/fourth-conference']"
                                        class="dropdown-item">{{ 'index.nav-menu.history.fourthconf' | transloco }}</a>
                                </li>
                                <li><a [routerLink]="['conference-history/history/fifth-conference']"
                                        class="dropdown-item">{{ 'index.nav-menu.history.fifthconf' | transloco }}</a>
                                </li>
                                <li><a [routerLink]="['conference-history/history/sixth-conference']"
                                        class="dropdown-item">{{ 'index.nav-menu.history.sixthconf' | transloco }}</a>
                                </li>
                                <!-- <li><a [routerLink]="['conference-history/history/seventh-conference']" class="dropdown-item">{{ 'index.nav-menu.history.seventhconf' | transloco }}</a></li> -->
                            </ul>
                        </a>
                    </li>
                    <li><a class="dropdown-item"
                            [routerLink]="['conference-history/funders']">{{'index.nav-menu.historyconf.2' | transloco
                            }}</a>

                    </li>
                </ul>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['thematic-directions']">{{ 'index.nav-menu.thematicdirections' |
                transloco }}</a>
        </div>
        <div class="nav-item">
            <a class="dropdown">
                <a class="nav-link" id="dropdownMenuButton" aria-expanded="false">
                    {{ 'index.nav-menu.publicationrequirements' | transloco }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuli">
                    <li><a class="dropdown-item" [routerLink]="['info-partners']">{{
                            'index.nav-menu.submenu.publicationrequirements.1' | transloco }}</a></li>
                    <li><a class="dropdown-item" [routerLink]="['requirements-theses']">{{
                            'index.nav-menu.submenu.publicationrequirements.2' | transloco }}</a></li>
                </ul>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['conference-program']">{{'index.nav-menu.confprogram' | transloco}}</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['important-dates']">{{ 'index.nav-menu.importantdates' | transloco }}</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['pay-info']">{{ 'index.pay-info.head' | transloco }}</a>
        </div>
        <div *ngIf="isLogin" class="nav-item">
            <a [routerLink]="['/account']" class="nav-link">{{ 'index.nav-menu.myacc' | transloco }}</a>
        </div>
        <div class="nav-item">
            <a [routerLink]="['/auth/sign-in']" class="nav-link">{{ 'index.home.login' | transloco }}</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/sign-up']"> {{ 'index.home.registration' | transloco }}</a>
        </div>
        <div *ngIf="isLogin" class="nav-item">
            <a class="nav-link" (click)="logout()">{{ 'index.nav-menu.logout' | transloco }}</a>
        </div>
        <br>
    </div>
    <button style="background-color: white;text-align: center;width: 100%;" class="navbar-toggler" type="button" (click)="toggle()">
        <a class="navbar-toggler-icon"></a>
    </button>
</nav>