img{
    height: 450px;
    width: auto;
    padding-bottom: 20px;
}
.photolist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.photolist_item{
    width: min-content;
}
p.header2{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
p.name{
    font-size: 22px;
    font-weight: bold;
}
p.description{
    font-size: 18px;
    font-weight: 500;
}
p{
    word-wrap: break-word;
    text-align: center;

}
.photolist div{
    margin: 20px;
}




@media(max-width:1600px){
    img{
        height: 490px;
        width: auto;
    }
}
@media(max-width:1300px){
    img{
        height: 400px;
        width: auto;
    }
}
@media(max-width:1200px){
    img{
        height: 330px;
        width: auto;
    }
}
@media(max-width:1000px){
    img{
        height: 240px;
        width: auto;
    }
}
@media(max-width:600px){
    img{
        height: 400px;
        width: auto;
    }
}
@media(max-width:400px){
    img{
        height: 350px;
        width: auto;
    }
}