<div class="container">
    <ul class="management">
        <h4 class="management_h4">{{ 'index.management-team.header' | transloco }}</h4>
        <li class="rector">
            <figure>
                <p class="team-img">
                    <img src="../../../assets/management-team/vahovych.jpg">
                </p>
                <figcaption>
                    <div class="team_name">
                        {{ 'index.management-team.1.name' | transloco }}
                    </div> 
                    <div class="team_info">
                        {{ 'index.management-team.1' | transloco }}
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>
    <hr>
    <p class="coChairs">
        <strong>
            {{ 'index.management-team.header2' | transloco }}
        </strong>
    </p>

    <ul class="list">
        <li class="list-item">
            <figure>
                <p>
                    <img src="../../../assets/management-team/nazarchuk.jpg">
                </p>
                <figcaption>
                    <div class="team_name">
                        {{ 'index.management-team.2.name' | transloco }}
                    </div> 
                    <div class="team_info">
                        {{ 'index.management-team.2' | transloco }}
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="list-item">
            <figure>
                <p>
                    <img src="../../../assets/management-team/bagluk.jpg">
                </p>
                <figcaption>
                    <div class="team_name">
                        {{ 'index.management-team.3.name' | transloco }}
                    </div> 
                    <div class="team_info">
                        {{ 'index.management-team.3' | transloco }}
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="list-item">
            <figure>
                <p>
                    <img src="../../../assets/management-team/klymenko.jpg">
                </p>
                <figcaption>
                    <div class="team_name">
                        {{ 'index.management-team.4.name' | transloco }}
                    </div> 
                    <div class="team_info">
                        {{ 'index.management-team.4' | transloco }}
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>