ul {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    list-style-type: none;
    text-align: center;
}

.management_h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.team_name{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 5px;
}

.team_info{
    font-size: 16px;
    text-align: center;
}
p{
    font-size: 22px;
}

.coChairs{
    font-size: 30px;
    text-align: center;
}

.list{
    display: flex;
    gap:20px;
    flex-direction: row;
}

.list li {
    width: calc(100% / 3);
}

.list li img {
    height: 450px;
}

.rector {
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1100px) {
    .rector {
        max-width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
} 

@media (max-width: 900px) {
    .rector {
        max-width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    .list {
        align-items: center;
        flex-direction: column;
    }

    .list li {
        width: 70%;
    }
} 

@media (max-width: 750px) {
    .rector {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .list li {
        width: 80%;
        height: 80%;
    }
} 

@media (max-width: 600px) {
    .list{
        display: flex;
        flex-direction: column;
    }

    .list .list-item {
        margin-top: 170px;
        height: 450px;
        width: 100%;
    }

    .list  :nth-of-type(1){
        margin-top: 10px;
    }

    .rector {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}