<div class="container">
    <ul>
        <h4>{{ 'index.management-team.header' | transloco }}</h4>
        <br>
        <br>
        <li class="rector">
            <figure>
                <p>
                    <img src="../../../assets/management-team/vahovych.jpg">
                </p>
                <figcaption>
                    {{ 'index.management-team.1.name' | transloco }} 
                    <br> 
                    {{ 'index.management-team.1' | transloco }}
                </figcaption>
            </figure>
        </li>
    </ul>
    <p style="text-align: center;">
        <strong>
            {{ 'index.management-team.header2' | transloco }}
        </strong>
    </p>
    <ul class="list">
        <li>
            <figure>
                <p>
                    <img src="../../../assets/management-team/nazarchuk.jpg">
                </p>
                <figcaption>
                    {{ 'index.management-team.2.name' | transloco }}<br>{{ 'index.management-team.2' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/management-team/bagluk.jpg">
                </p>
                <figcaption>
                    {{ 'index.management-team.3.name' | transloco }}<br>{{ 'index.management-team.3' | transloco }}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <p>
                    <img src="../../../assets/management-team/klymenko.jpg">
                </p>
                <figcaption>
                    {{ 'index.management-team.4.name' | transloco }}<br>{{ 'index.management-team.4' | transloco }}
                </figcaption>
            </figure>
        </li>
    </ul>
</div>