
    <div class="account_page">
        <div class="account_page-information">
            <h3>Інформація про акаунт:</h3>
            <div class="account_page-information-tagcomponent">
                <div class="account_page-information-fhalf">
                    <p class="account_page-information-tag">ПІБ:</p>
                    <input type="text" class="account_page-information-tag-item"/>

                    <p class="account_page-information-tag">Академічний статус:</p>
                    <input type="text" class="account_page-information-tag-item" />

                    <p class="account_page-information-tag">Вчене звання:</p>
                    <input type="text" class="account_page-information-tag-item"/>

                    <p class="account_page-information-tag">Місце роботи:</p>
                    <input type="text" class="account_page-information-tag-item" />

                    <p class="account_page-information-tag">Посада:</p>
                    <input type="text" class="account_page-information-tag-item" />
                </div>
                <div class="account_page-information-shalf">
                    <p class="account_page-information-tag">Телефон:</p>
                    <input disabled type="text" class="account_page-information-tag-item" />

                    <p class="account_page-information-tag">E-mail : </p>
                    <input disabled type="text" >

                    <p class="account_page-information-tag">Тема доповіді:</p>
                    <input type="text" class="account_page-information-tag-item" />

                    <p class="account_page-information-tag">Секція на яку подавалась доповідь : </p>
                    <input type="text" class="account_page-information-tag-item" />
                    
                    <p class="account_page-information-tag">Формат участі : </p>
                    <input disabled type="text" class="account_page-information-tag-item" />
                </div>
            </div>
        </div>
    </div>
