<!--header-->
<div class="header">
    <img src="../../../assets/logo4.png" />
    <span>{{ 'index.confprogram.headtext' | transloco }}</span>
</div>
<hr>
<!--program-->
<div class="program">
    <div style="background-color: lightskyblue;">
        <span style="font-weight: bold;font-size: 24px;margin-left: 50px;">{{ 'index.confprogram.program' | transloco
            }}</span>
    </div>
    <br>
    <div class="program_2">
        <div>
            <img style="width: 100px;height: 100px;" src="../../../assets/conferenceprogram/lntu.png" />
        </div>
        <div style="margin-left: 30px;">
            <div>
                <strong>{{ 'index.confprogram.place' | transloco }}</strong>{{
                'index.confprogram.placeresult' | transloco }}
            </div>
            <div>
                <strong>{{ 'index.confprogram.linkzoom' | transloco }}</strong>
                <br>
                Meeting ID : 576 337 9663
                <br>
                Passcode : 1111
                <br>
                <a href="https://us02web.zoom.us/j/5763379663?pwd=US9EUUpXZ3kvUUV3eDZ6WWQ0KzZTQT09">Link!
                </a>
                <br>
                {{ 'index.confprogram.onelink' | transloco }}              
            </div>
        </div>      
    </div>
    <br>
    <br>
    <p style="text-align: end;"><strong>{{ 'index.confprogram.day1' | transloco }}</strong></p>
    <hr>
    <div class="program_date">
        <div class="program_date_element">
            <div class="time">
                <p>10:30 - 11:00</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.1' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>11:00 - 11:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.2' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>11:30 - 13:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.3' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>13:30 - 14:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.4' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>14:30 - 16:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.5' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>17:30 - 20:00</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.6' | transloco }}
                </p>
            </div>
        </div>
    </div>
    <br>
    <p style="text-align: end;"><strong>{{ 'index.confprogram.day2' | transloco }}</strong></p>
    <hr>
    <div class="program_date">
        <div class="program_date_element">
            <div class="time">
                <p>9:30 - 11:00</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.1.1' | transloco }}
                    <br>
                    {{ 'index.confprogram.day2.1.2' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>11:00 - 11:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.2' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>11:30 - 12:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.3.1' | transloco }}
                    <br>
                    {{ 'index.confprogram.day2.3.2' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>12:30 - 13:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.4' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>13:30 - 14:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.5' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>14:30 - 15:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.6.1' | transloco }}
                    <br>
                    {{ 'index.confprogram.day2.6.2' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>15:30 - 15:45</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.7' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>15:45 - 16:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.8' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>16:30 - 17:00</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day2.9' | transloco }}
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<!--header2-->
<div class="program">
    <div class="header">
        <img src="../../../assets/logo4.png" />
        <span>{{ 'index.confprogram.headtext' | transloco }}</span>
    </div>
    <hr>
    <div style="background-color: lightskyblue;">
        <span style="font-weight: bold;font-size: 24px;margin-left: 50px;">{{ 'index.confprogram.day1' | transloco
            }}</span>
    </div>
    <br>
    <div class="program_date">
        <div class="program_date_element">
            <div class="time">
                <p>10:30 - 11:00</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.1' | transloco }}
                </p>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>11:00 - 11:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.2' | transloco }}
                </p>
                <br>
                <p>{{ 'index.confprogram.day1.2.add1' | transloco }}</p>
                <p>{{ 'index.confprogram.day1.2.add2' | transloco }}</p>
                <p>{{ 'index.confprogram.day1.2.add3' | transloco }}</p>
                <p>{{ 'index.confprogram.day1.2.add4' | transloco }}</p>
                <br>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>11:30 - 13:30</p>
            </div>
            <div class="description">
                <p [innerHTML]="'index.confprogram.day1.3' | transloco"></p>
                <br>
                <p [innerHTML]="'index.confprogram.day1.3.add1' | transloco"></p>
                <br>
                <p>
                    The Role of Material Engineering in the Implementation of the Circular Economy <br>
                    Dr. Kinga Korniejenko, Cracow University of Technology, Poland
                </p>
                <br>
                <p [innerHTML]="'index.confprogram.day1.3.add2' | transloco"></p>
                <br>
                <p>
                    Physical principles of processes in adsorption cooling and desalination systems
                    <br>
                    Dr. Karolina Grabowska, Jan Dlugosz University in Czestochowa, Poland
                </p>
                <br>
                <p>
                    Heat and Mass Transfer Modelling within Adsorption Reactors
                    <br>
                    Prof. Marcin Sosnowski, Jan Dlugosz University in Czestochowa, Poland
                </p>
                <p [innerHTML]="'index.confprogram.day1.3.add3' | transloco"></p>
                <br>
                <p [innerHTML]="'index.confprogram.day1.3.add4' | transloco"></p>
                <br>
                <p [innerHTML]="'index.confprogram.day1.3.add5' | transloco"></p>
                <br>
            </div>
        </div>
        <div class="program_date_element">
            <div class="time">
                <p>13:30 - 14:30</p>
            </div>
            <div class="description">
                <p>
                    {{ 'index.confprogram.day1.4' | transloco }}
                </p>
            </div>
        </div>
    </div>
</div>