<div class="conf">
    <h2 class="conf-title">V МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
    <h2 class="conf-title">25-29 травня 2015 року</h2>
</div>

<div>
    <ul class="conf_list">
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2631.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img  style="height: 650px;" src="../../../../assets/2015/1-_DSC2624.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2634.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2641.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2645.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2647.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2652.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2655.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2658.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2668.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2676.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2690.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2703.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/1-_DSC2719.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02736.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02751.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02802.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02818.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img  style="height: 750px;" src="../../../../assets/2015/DSC02824.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02835.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02839.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02849.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02858.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02930.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02942.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02950.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02932.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC02938.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img src="../../../../assets/2015/DSC03185.JPG" alt="">
        </li>
    </ul>
</div>