.conf{
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.conf_list{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    flex-wrap: wrap;
}

img{
    object-fit: cover;
    width: 100%;
    height: auto;
  }

.conf_list-item{
    margin: 0 auto;
    width: 600px;
    height: auto;
}
