<div class="container">
    <p>{{ 'index.requirements-theses.header1' | transloco }}</p>
    <ul>
        <li>{{ 'index.requirements-theses.1.1' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.2' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.3' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.4' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.5' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.6' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.7' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.8' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.9' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.10' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.11' | transloco }}</li>
        <li>{{ 'index.requirements-theses.1.12' | transloco }}</li>
    </ul>

    <p>{{ 'index.requirements-theses.header2' | transloco }}</p>
    <ul>
        <li>{{ 'index.requirements-theses.2.1' | transloco }}</li>
        <li>{{ 'index.requirements-theses.2.2' | transloco }}</li>
        <li>{{ 'index.requirements-theses.2.3' | transloco }}</li>
        <li>{{ 'index.requirements-theses.2.4' | transloco }}</li>
    </ul>
    <p>
        {{ 'index.requirements-theses.textend' | transloco }} :<br>
    E-mail: o.klymenko@lntu.edu.ua<br>
    т. : +38 095 472 8583</p>
</div>