<div class="wrapper">
    <!-- <div class="form_wrapper"> -->
        <form class="form">
            <div class="registration_header">
                    <div class="registration_header-title">Реєстрація</div>
                    <div class="registration_header-subtitle">Заповніть форму, щоб зареєструватися</div>
            </div>
    
            <div class="formsign">
    
                
    
                <input emailvalid type="email" class="form-control is-valid" id="emailvalid" placeholder="{{ 'auth.register.email' | transloco }}"
                    required>
                <label for="emailvalid" class="valid-feedback">
                    {{ 'auth.register.ok' | transloco }}
                </label>
    
                <input namevalid type="text" class="form-control is-valid" id="namevalid" placeholder="{{ 'auth.register.name' | transloco }}"
                    required>
                <label for="namevalid" class="valid-feedback">
                    {{ 'auth.register.ok' | transloco }}
                </label>
    
                <input numbervalid type="tel" class="form-control is-valid" id="phonenumber" placeholder="{{ 'auth.register.phone' | transloco }}"
                    required>
                <label for="phone" class="valid-feedback">
                    {{ 'auth.register.ok' | transloco }}
                </label>
    
                <input type="text" class="form-control is-valid" id="nameorg" placeholder="{{ 'auth.register.nameoforganiz' | transloco }}" required>
                <label for="nameorg" class="valid-feedback">
                    {{ 'auth.register.ok' | transloco }}
                </label>
    
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                {{ 'auth.register.selectfile' | transloco }}
                            </font>
                        </font>
                    </label>
                </div>
    
                <br>
                <button class="btn btn-primary" type="submit">Реєстрація!</button>
                <a class="goback" [routerLink]="['/index']"> ⬅ Повернутися на головну</a>
            </div>
        </form>
    <!-- </div> -->
</div>