<div class="conf">
    <h2 class="conf-title">{{ 'index.conferences.conference2.name' | transloco }}</h2>
    <h2 class="conf-title">{{ 'index.conferences.conference2.date' | transloco }}</h2>
</div>

<div>
    <ul class="conf_list">
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8022.jfif" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8040.jfif" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8086.jfif" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8108.jfif" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8115.jfif" alt="">
        </li>
    </ul>
</div>
