<div class="conf">
    <h2 class="conf-title">II МІЖНАРОДНА НАУКОВО ПРАКТИЧНА КОНФЕРЕНЦІЯ</h2>
    <h2 class="conf-title">1-6 червня 2009 року</h2>
</div>

<div>
    <ul class="conf_list">
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8022.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8040.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8086.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8108.JPG" alt="">
        </li>
        <li class="conf_list-item">
            <img class="conf-img" src="../../../../assets/2009/1-DSC_8115.JPG" alt="">
        </li>
    </ul>
</div>
