<div class="form_wrapper">
    <div class="form_container">
        <form [formGroup]="recoveryform" (ngSubmit)="sendrecoverylinkpassword(recoveryform.value)" #formDirective="ngForm" class="form">
            <h2>Відновлення пароля</h2>
            <h4 id="labelresult" >{{ resultmessage }}</h4>
            <label for="emailinput">E-mail</label>
            <input formControlName="email" type="text" id="emailinput" placeholder="{{ 'auth.sign-in.enteremail' | transloco }}">
            <br>
            <button type="submit" class="btn btn-primary">Відправити</button>
        </form>
    </div>
</div>